.navBar {
  margin: 0 auto;
  border-bottom: 1px solid rgb(221, 219, 219);
}

.navLink {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-style: 16px;
  padding: 20px;
  display: inline-block;
}

.navLink_active {
  color: grey;
  text-shadow: 1px 1px 6px rgb(113, 102, 102);
}
